@media screen and (max-width: 320px) {
    .header__nav {
        width: 100%;
    }

    .homepage_image {
        width: 100%;
    }

    .container_homepage {
        margin-bottom: 60px;
    }

    .container_providers {
        margin-bottom: 60px;
    }

    .providers_image {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .card {
        width: 90%;
    }
    .footer-content {
        flex-direction: column;
    }

    .footer-content ul {
        flex-direction: column;
    }
}

@media screen and (min-width: 2560px) {
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .header {
        width: 100%;
    }
}

@media screen and (min-width: 961px) {
    .burger__menu {
        display: none;
    }
}

@media screen and (max-width: 593px) {
    .cards_container {
        width: 90%;
        justify-content: center;
    }

    .footer-content ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 960px) {

    .burger__menu {
        display: flex;
    }

    .header__nav-item {
        display: none;
    }

    .drops {
        display: none;
    }

    .image_fogs {
        display: none;
    }

    .footer_dots_bottom {
        display: none;
    }

    .footer_dots_top {
        display: none;
    }

    .services_dots {
        display: none;
    }

    .card {
        width: 40%;
    }

    .container_homepage {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .homepage_image {
        margin-bottom: 2rem;
        width: 70%;
    }

    .text_heading {
        width: 100%;
    }

    .text_paragraph {
        width: 100%;
    }

    /* .text_button{
        text-align: center;
    } */
    .homepage_left {
        text-align: center;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
    }

    .container_providers {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .providers_image {
        margin-bottom: 2rem;
        width: 70%;
    }

    .providers_text {
        text-align: center;
        justify-content: space-evenly;
        width: 80%;
        margin: 0;
    }

    .providers_text hr {
        text-align: center;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }

    .text_providers_paragraph {
        width: 100%;
    }

    .text_providers_heading {
        width: 100%;
    }
}
