.container_services {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
    align-items: center;
    margin-bottom: 217px;
}

.services_text {
    width: 80%;
    text-align: center;
    margin-bottom: 80px;
}

.services_text_heading {
    font-weight: 1700;
    font-size: 2.25rem;
    line-height: 3.5rem;
}

.services_text_paragraph {
    color: #7D7987;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.cards_container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 69px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 26%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 10px 40px 50px 0 rgba(229, 233, 246, 0.4);
    margin: 1%;
    padding-left: 37px;
    padding-top: 47px;
    padding-bottom: 47px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(360deg);
    transition: transform 0.5s;
}

.card img {
    object-fit: contain;
    justify-content: end;
}

.heading {
    width: 90%;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin: 0;
}

.text {
    width: 87%;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #7D7987;
}


.container_services {
    padding: 0;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15rem;
}

.cards_container {
    position: relative;
    z-index: 2;
}

.services_text {
    position: relative;
    z-index: 2;
}

.image_fogs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.image_fogs img {
    position: relative;
    width: 93%;
    margin-top: 5.5rem;
}

.services_dots {
    position: absolute;
    top: 530px;
    left: 1176px;
    z-index: 1;
}

.services_dots img {
    position: relative;
    width: 93%;
    margin-top: 5.5rem;
}

.card_button_lm {
    width: 45%;
    font-weight: 700;
    font-size: 1.125rem;
    color: #458FF6;
    background: white;
    border: 2px solid #458FF6;
    border-radius: 55px;
    padding: 1rem 3.188rem;
    font-family: 'Mulish', sans-serif;
}

