@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
a{
    text-decoration: none;
}
.header {
    font-family: 'Mulish', sans-serif;
    padding: 1rem;
}   

body{
    margin: 0;
    background-color: #FFFFFF;
}
.header__nav {
    justify-content: space-between;
    width: 76%;
    margin: auto;
    display: flex;
    align-items: center;
}
.header__nav ul {
    display: flex;
    list-style-type: none;
}
.header__nav li a {
    width: 100%;
}
.heaader__nav-link{
    color: #1F1534;
    margin-left: 2rem;
    text-decoration: none;
    opacity: 50%;
}

.drops img{
    width: 4%;
}

.container_homepage{
    padding: 1rem;
    display: flex;
    width: 78%;
    justify-content: space-around;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
    align-items: center;
    margin-bottom: 210px;

}

.text_heading{
    width: 74%;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 25px;
}

.text_paragraph{
    font-size: 1.313rem;
    width: 84%;
    font-weight: 300;
    color: #7D7987;
    line-height: 1.4em;
    margin: 0;
    margin-bottom: 48px;
}

.homepage_image img{ 
    width: 100%;
}

.homepage_image{
    width: 80%;
    margin: 0 auto;
}

.text_button {
    width: 45%;
    height: 60px;
    font-weight: 700;
    font-size: 1.125rem;
    color: white;
    background: #458FF6;
    border-radius: 55px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Mulish', sans-serif;
  }
  
  .text_button a:hover {
    width: 55%;
    height: 80px;
  }
  
  .container_providers{
    padding: 1rem;
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 210px;
}

.providers_image{
    width:50%;
    margin: 0 auto;
}

.providers_image img{
    width:100%;
}

.providers_text{
    width: 35%;
}


.text_providers_heading{
    width: 90%;
    font-size: 2.25rem;
    font-weight: 3000;
    line-height: 1.3em;
    margin-right: 0;
    
}

hr {
    border: none; 
    border-top: 2px solid #000; 
    width: 56px;
    align-items: start;
    margin-bottom: 30px;
    margin-top: 30px;
}

.providers_text hr {
    margin-left: 0;
}

.text_providers_paragraph{
    font-size: 1.125rem;
    width: 90%;
    font-weight: 300;
    color: #7D7987;
    line-height: 1.5em;
    margin-right: 0;
    margin-bottom: 38px;
}

.text_providers_button {
    width: 45%;
    height: 60px;
    font-weight: 700;
    font-size: 1.125rem;
    color: #458FF6;
    background: white;
    border: 2px solid #458FF6;
    border-radius: 55px;
    padding-left: 3.188rem;
    padding-right: 3.188rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Mulish', sans-serif;
  }

  .container_services{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
    align-items: center;
    margin-bottom: 217px;
  }

  .services_text{
    width: 80%;
    text-align: center;
    margin-bottom: 80px;
  }

  .services_text_heading{
    font-weight: 1700;
    font-size: 2.25rem;
    line-height: 3.5rem;
  }

  .services_text_paragraph{
    color: #7D7987;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  .cards_container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 69px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 26%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    margin: 1%;
    padding-left: 37px;
    padding-top: 47px;
    padding-bottom: 47px;
    /* position: absolute; */
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .card:hover  {
    transform: rotateY( 360deg ) ;
    transition: transform 0.5s;
  }

  /* .back_card, .front_card {
    backface-visibility: hidden;
    position: absolute;
    } */

  .card img{
    object-fit: contain;
    justify-content:end;
  }

  .heading{
    width: 90%;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-right: 0;
    margin: 0;
  }

  .text{
    width: 87%;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #7D7987;
  }


.container_services {
    padding: 0;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15rem;
}

.cards_container {
    position: relative; 
    z-index: 2; 
}

.services_text {
    position: relative;
    z-index: 2;
}

.image_fogs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}

.image_fogs img{
    position: relative;
    width: 93%;
    margin-top: 5.5rem;
}

.services_dots{
    position: absolute;
    top: 530px;
    left: 1176px;
    z-index: 1;
}

.services_dots img{
    position: relative;
    width: 93%;
    margin-top: 5.5rem;
}

.card_button_lm{
    width: 45%;
    font-weight: 700;
    font-size: 1.125rem;
    color: #458FF6;
    background: white;
    border: 2px solid #458FF6;
    border-radius: 55px;
    padding-left: 3.188rem;
    padding-right: 3.188rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Mulish', sans-serif;
}

/* .footer {
    font-family: 'Mulish', sans-serif;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: end;
    border-radius: 0%;
    background-image: linear-gradient(to top, #5A98F2, #67C3F3);
    height: 8rem;
    position: relative;
    z-index: 5;
    padding-bottom: 1.5rem;
}

.footer__nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    padding: 0%;
    margin-right: auto;
    margin-left: auto;
}
.footer__nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.footer__nav li a {
    width: 100%;
    align-items: center;
}
.footer__nav-link{
    color: white;
    margin-right: 5rem;
    margin-left: 9rem;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 3.75rem;
    font-family: 'Mulish', sans-serif;
}

.traf_img{
    margin-left: 10rem;
    margin-right: 15rem;
} */

.footer_dots_top img {
    position: relative;
    top: 16px;
    z-index: 2;
    opacity: 100%;
    width: 7%
}

.footer_dots_top{
    display: flex;
    justify-content: end;
    width: 95%;
}

.footer_dots_bottom img {
    position: absolute;
    top: 75px;
    left: -20px;
    z-index: 1;
    opacity: 100%;
    width: 7%;
}

.footer_dots_bottom{
    display: flex;
    width: 100%;
}
/* .burger_menu {
    display: none;
} */



@media screen and (max-width: 960px) {
    .header__nav-item {
        display: none;
    }
    .drops{
        display: none;
    }
    .image_fogs{
        display: none;
    }
    .footer_dots_bottom{
        display: none;
    }
    .footer_dots_top{
        display: none;
    }
    .services_dots{
        display: none;
    }
    .card {
        width: 40%;
    }
    .container_homepage{
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    .homepage_image{
        margin-bottom: 2rem;
        width: 70%;
    }
    .text_heading{
        width: 100%;
    }
    .text_paragraph{
        width: 100%;
    }
    /* .text_button{
        text-align: center;
    } */
    .homepage_left{
        text-align: center;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
    }
    .container_providers{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .providers_image{
        margin-bottom: 2rem;
        width: 70%;
    }
    .providers_text{
        text-align: center;
        justify-content: space-evenly;
        width: 80%;
        margin: 0;
    }
    .providers_text hr {
        text-align: center;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
    .text_providers_paragraph{
        width: 100%;
    }
    .text_providers_heading{
        width: 100%;
    }
}

@media screen and (max-width: 320px){
    .header__nav{
        width: 100%;
    }
    .homepage_image{
        width: 100%;
    }
    .container_homepage{
        margin-bottom: 60px;
    }
    .container_providers{
        margin-bottom: 60px;
    }
    .providers_image{
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .card{
        width: 90%;
    }
}

@media screen and (min-width: 2560px) {
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .header {
        width: 100%;
    }
}